{{- define "title" -}}
  {{- .Site.Title -}}
  {{- if .Site.Params.indexWithSubtitle | and .Site.Params.header.subtitle.name -}}
    {{- printf " - %v" .Site.Params.header.subtitle.name -}}
  {{- end -}}
{{- end -}}

{{- define "content" -}}
  {{- $params := partial "function/params.html" -}}
  {{- $posts := .Site.Params.home.posts -}}

  <div class="page home posts">

    <div class="header archive">
      {{- /* Title */ -}}
      <h1 class="single-title animate__animated animate__pulse animate__faster">
        {{- $titleIcon := "fa-solid fa-gear" -}}
        {{- with .Params.titleIcon -}}
          {{- $titleIcon = . -}}
        {{- end -}}
        {{- dict "Class" (add $titleIcon " fa-fw me-1") | partial "plugin/icon.html" -}}
       {{- .Title -}}<sup> {{ .Pages | len }}</sup>
      </h1>

    </div>

    {{- /* Content */ -}}
    {{- if .Content -}}
      <div class="single">
        <div class="content" id="content">
          {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
        </div>
      </div>
    {{- end -}}

    {{- /* Posts */ -}}
    {{- if .Pages -}}
      {{- range .Pages -}}
        {{- .Render "summary" -}}
      {{- end -}}
      {{- partial "paginator.html" . -}}
    {{- end -}}
  </div>
{{- end -}}