{{- define "title" -}}
  {{- title (.Params.Title | default ((T .Section) | default .Section | dict "Some" | T "allSome")) -}}
  {{- if .Site.Params.withSiteTitle }} {{ .Site.Params.titleDelimiter }} {{ .Site.Title }}{{- end -}}
{{- end -}}

{{- define "content" -}}
{{- $talks := .Site.Data.talks -}}
  <div class="page home posts">
    <div class="header archive">
      {{- /* Title */ -}}
      <h1 class="single-title animate__animated animate__pulse animate__faster">
        {{- $titleIcon := "fa-solid fa-microphone" -}}
        {{- with .Params.titleIcon -}}
          {{- $titleIcon = . -}}
        {{- end -}}
        {{- dict "Class" (add $titleIcon " fa-fw me-1") | partial "plugin/icon.html" -}}
       Talks <sup>{{ $talks | len }}</sup>
      </h1>

    </div>



    {{- range .Site.Data.talks -}}





    <article class="single summary" itemscope itemtype="http://schema.org/Article">
    
      {{- /* Title */ -}}
      <h2 class="single-title" itemprop="name headline">

        <a href="{{- with .doi -}}http://doi.org/{{- . -}}{{- end -}}">{{- .title -}}</a>
      </h2>
      <div class="post-meta">

        {{ range .authors }}
        <span><b><i class="fa-solid fa-user fa-fw me-1"></i>{{- . -}}</b></span>&nbsp;
        {{- end -}}

      </div>
      {{- /* Meta */ -}}
      <div class="post-meta">
        <span class="post-publish">
          <i class="fa-regular fa-calendar fa-fw me-1"></i><b>{{- .date -}}</b>
        </span>&nbsp;<span><b><i class="fa-solid fa-book fa-fw me-1"></i>{{- .venue -}}</b></span>&nbsp;
        {{- with .location -}}<span><i class="fa-solid fa-location-dot fa-fw me-1" style="color: red;"></i><b>{{- . -}}</b></span>&nbsp;{{- end -}}
          {{- with .download -}}<span style="float: right;"><i class="fa-regular fa-file-pdf fa-fw me-1" style="color: red;"></i><a href="{{- . -}}"><b>Download</b></a></span>&nbsp;{{- end -}}
    
      </div>
    
      {{- /* Summary content */ -}}
      <div class="content">
        {{- with .abstract -}}
        {{- dict
          "Type" "quote"
          "Title" "Abstract"
          "Open" false
          "Text" .
          | partial "plugin/admonition.html"
        -}}
        {{- end -}}
        {{- with .citation -}}
        {{- dict
          "Type" "quote"
          "Title" "Citation"
          "Open" true
          "Text" .
          | partial "plugin/admonition.html"
        -}}{{end}}
        {{- with .video -}}
        <br>
        <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden"><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="" loading="eager" referrerpolicy="strict-origin-when-cross-origin" src="https://www.youtube-nocookie.com/embed/{{- . -}}?autoplay=0&amp;controls=1&amp;end=0&amp;loop=0&amp;mute=0&amp;start=0" style="position:absolute;top:0;left:0;width:100%;height:100%;border:0" title="YouTube video"></iframe></div>
   
        {{- end -}}


      </div>
    
      {{- /* Footer */ -}}
      <div class="post-footer">
        {{- with .doi -}}<span><b>DOI : <a href="http://doi.org/{{- . -}}">{{- . -}}</a></b></span>{{- end -}}
        {{- $tagTerms := .keywords -}}
        {{- if $tagTerms -}}
          <div class="post-tags">
            {{- dict "Class" "fa-solid fa-tags fa-fw me-1" | partial "plugin/icon.html" -}}
            {{- range $tagTerms -}}
              <a href='' class="post-tag">{{- strings.FirstUpper . -}}</a>
            {{- end -}}
          </div>
        {{- end -}}
      </div>
    </article>








    {{- end -}}
  </div>
{{- end -}}